body {
	width: 4000px;
	height: 4000px;
	margin: 0;
}
.sky {
	height: 100%;
	width: 100%;
	background: url(../sky.jpeg);
}
.birdbox {
	width: 300px;
	height: 300px;
	padding: 10px;
	border: 2px solid blue;
	background: white;
	float: right;
	position: fixed;
}
.display {
	display: none;
}
#bird1 {

}
#bird2 {

}
#bird3 {

}
.bird { 
	width: 100px; 
	height: 100px;
	position: absolute;
}